In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [17]:
import sklearn
sklearn.__version__

'1.3.0'

In [19]:
!pip uninstall scikit-learn

^C

In [34]:
X = df.iloc[: , :-1]
y = df.iloc[: , -1]

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [37]:
from sklearn.linear_model import LinearRegression

In [38]:
from sklearn.metrics import r2_score

### Linear Regression

In [39]:
reg = LinearRegression()
reg.fit(X_train,y_train)
y_test_pred = reg.predict(X_test)
print("R2_score value = ",r2_score(y_test,y_test_pred))
checking = pd.DataFrame()
checking["column_names"] = X_train.columns
checking["coeffcient_values"] = reg.coef_
checking

R2_score value =  0.7261570836552476

   column_names  coeffcient_values
0          CRIM          -0.128750
1            ZN           0.037823
2         INDUS           0.058211
3          CHAS           3.238668
4           NOX         -16.169812
5            RM           3.902051
6           AGE          -0.012851
7           DIS          -1.422224
8           RAD           0.234854
9           TAX          -0.008213
10      PTRATIO          -0.928722
11            B           0.011770
12        LSTAT          -0.547566

### Ridge Regression

In [40]:
from sklearn.linear_model import Ridge
reg1 = Ridge(alpha=0.5)
reg1.fit(X_train,y_train)
y_test_pred = reg1.predict(X_test)
print("R2_score value = ",r2_score(y_test,y_test_pred))
checking = pd.DataFrame()
checking["column_names"] = X_train.columns
checking["coeffcient_values"] = reg.coef_
checking['Ridge_coef_values'] = reg1.coef_
checking

R2_score value =  0.7229361801908383

   column_names  coeffcient_values  Ridge_coef_values
0          CRIM          -0.128750          -0.124591
1            ZN           0.037823           0.038469
2         INDUS           0.058211           0.034918
3          CHAS           3.238668           3.116315
4           NOX         -16.169812         -10.753667
5            RM           3.902051           3.911982
6           AGE          -0.012851          -0.017433
7           DIS          -1.422224          -1.341809
8           RAD           0.234854           0.222522
9           TAX          -0.008213          -0.008706
10      PTRATIO          -0.928722          -0.867973
11            B           0.011770           0.011923
12        LSTAT          -0.547566          -0.559961

### Lasso Regression

In [41]:
from sklearn.linear_model import Lasso
reg2 = Lasso(alpha=0.5)
reg2.fit(X_train,y_train)
y_test_pred = reg2.predict(X_test)
print("R2_score value = ",r2_score(y_test,y_test_pred))
checking = pd.DataFrame()
checking["column_names"] = X_train.columns
checking["coeffcient_values"] = reg.coef_
checking['Ridge_coef_values'] = reg1.coef_
checking["Lasso_coefficient_values"] = reg2.coef_

checking

R2_score value =  0.6983027905015838

,column_names,coeffcient_values,Ridge_coef_values,Lasso_coefficient_values
0,CRIM,-0.128750,-0.124591,-0.102550
1,ZN,0.037823,0.038469,0.038882
2,INDUS,0.058211,0.034918,-0.000000
3,CHAS,3.238668,3.116315,0.000000
4,NOX,-16.169812,-10.753667,-0.000000
5,RM,3.902051,3.911982,2.577743
6,AGE,-0.012851,-0.017433,-0.004785
7,DIS,-1.422224,-1.341809,-0.916826
8,RAD,0.234854,0.222522,0.208420
9,TAX,-0.008213,-0.008706,-0.010149
10,PTRATIO,-0.928722,-0.867973,-0.738745
11,B,0.011770,0.011923,0.012080
12,LSTAT,-0.547566,-0.559961,-0.695736

In [42]:
### The coefficient value which are zero we can remove those column for training ML Models